<div>
    <h2>
        <span jhiTranslate="testApp.location.home.title">Locations</span>
        <button class="btn btn-primary float-right jh-create-entity create-location" [routerLink]="['/', { outlets: { popup: ['location-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="testApp.location.home.createLabel">
            Create new Location
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'testApp.location.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="locations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="testApp.location.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address1"><span jhiTranslate="testApp.location.address1">Address 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address2"><span jhiTranslate="testApp.location.address2">Address 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="address3"><span jhiTranslate="testApp.location.address3">Address 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="number"><span jhiTranslate="testApp.location.number">Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="postcode"><span jhiTranslate="testApp.location.postcode">Postcode</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="city"><span jhiTranslate="testApp.location.city">City</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stateProvince"><span jhiTranslate="testApp.location.stateProvince">State Province</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="company.name"><span jhiTranslate="testApp.location.company">Company</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let location of locations ;trackBy: trackId">
                <td><a [routerLink]="['../location', location.id ]">{{location.id}}</a></td>
                <td>{{location.name}}</td>
                <td>{{location.address1}}</td>
                <td>{{location.address2}}</td>
                <td>{{location.address3}}</td>
                <td>{{location.number}}</td>
                <td>{{location.postcode}}</td>
                <td>{{location.city}}</td>
                <td>{{location.stateProvince}}</td>
                <td>
                    <div *ngIf="location.company">
                        <a [routerLink]="['../company', location.company?.id ]" >{{location.company?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../location', location.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'location/'+ location.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'location/'+ location.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
