
<div *ngIf="appointment">
    <h2><span jhiTranslate="testApp.appointment.detail.title">Appointment</span> {{appointment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="testApp.appointment.dateTime">Date Time</span></dt>
        <dd>
            <span>{{appointment.dateTime | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.appointment.label">Label</span></dt>
        <dd>
            <span>{{appointment.label}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.appointment.isRecurring">Is Recurring</span></dt>
        <dd>
            <span>{{appointment.isRecurring}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.appointment.notes">Notes</span></dt>
        <dd>
            <span>{{appointment.notes}}</span>
        </dd>
        <dt><span jhiTranslate="testApp.appointment.customer">Customer</span></dt>
        <dd>
            <div *ngIf="appointment.customer">
                <a [routerLink]="['/customer', appointment.customer?.id]">{{appointment.customer?.firstName}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="testApp.appointment.activityBooked">Activity Booked</span></dt>
        <dd>
            <div *ngIf="appointment.activityBooked">
                <a [routerLink]="['/activity', appointment.activityBooked?.id]">{{appointment.activityBooked?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="testApp.appointment.location">Location</span></dt>
        <dd>
            <div *ngIf="appointment.location">
                <a [routerLink]="['/location', appointment.location?.id]">{{appointment.location?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="testApp.appointment.provider">Provider</span></dt>
        <dd>
            {{appointment.provider?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'appointment/'+ appointment.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
